.navbar {
    background-color: #0c5591;
}

.navbar-brand {
    font-size: 22px;
    color: #ba140b;
}

.nav-item {
    font-size: 20px;
    color: #a89317;
}

.nav-item:hover {
    color: yellowgreen;
}

.nav-link {
    font-size: 20px;
    color: #a89317;
}

.nav-link:hover {
    color: yellowgreen;
}

#current {
    color: #e2c30f;
}

.background {
    background-color: #1686e2;
    padding-top: 70px;
}

.container {
    margin: 0 auto;
}
