.navbar {
    background-color: #0c5591;
}

.navbar-brand {
    color: #ba140b;
}

.nav-item {
    color: #a89317;
}

.nav-item:hover {
    color: yellowgreen;
}

.nav-link {
    color: #a89317;
}

.nav-link:hover {
    color: yellowgreen;
}

#current {
    color: #e2c30f;
}

.background {
    background-color: #1686e2;
}
