nav {
    background-color: #1686e2;
}

.logo {
    position: absolute;
    left: 50%;
    top: 150px;
    width: 250px;
    height: 250px;
    margin-left: -125px;
}

.slogan {
    position: absolute;
    left: 50%;
    top: 425px;
    margin-left: -175px;
    color: yellowgreen;
}

.navbar-brand {
    color: #e2c30f;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #f4d104;
}

.btn {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 490px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login-btn {
    background-color: #e2c30f;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    padding: 5px 15px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    margin-right: 15px;
}

.login-btn:hover {
    background-color: #f4d104;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

